@import "src/styles/variables";

.popoverContainer {
  position: relative;

  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
  }

  &.popoverOpened {

    .popover {
      display: flex;
    }
  }
}

.popover {
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background: $white;
  color: $black;
  border: 1px solid $blueGrayLight;
  box-sizing: border-box;
  box-shadow: 0 4px 24px $shadow100, 0 2px 3px $shadow200;
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: max-content;
  max-width: 230px;

  .popoverTitle {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $blueGrayLight;
    width: 100%;
  }

  .popoverSubTitle {
    font-weight: normal;
    margin-bottom: 8px;
  }
}
