@import "@styles/variables";

.container {
  position: relative;

  .trigger {
    cursor: pointer;
  }

  .content {
    position: absolute;
    z-index: 1;
    margin-top: 12px;
    padding: 12px 16px;
    border-radius: 4px;

    &.bottom {
      bottom: 0;
    }

    &.top {
      top: 0;
    }
  }
}
