@import "@styles/variables";

.tag {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  border: 1px solid $gray;
  background-color: $white;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: default;

  button {
    cursor: pointer;
    border: none;
    background: none;
  }

  &Content {
    font-size: 14px;
    line-height: 18px;
    @include text-ellipsis;
  }

  &Icon {
    svg {
      width: 12px;
      height: 12px;
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
    }
  }

  &RemoveButton {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    width: 8px;
    height: 8px;

    svg {
      width: 8px;
      height: 8px;

      path {
        fill: $grayDark;
      }
    }
  }
}
