@import "@styles/variables";

.container {
  display: flex;
  flex-direction: row;
  width: 100%;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.grow {
    flex-grow: 1;
  }

  &.shrink {
    flex-shrink: 0;
  }

  &.fullHeight {
    height: 100%;
  }

  &.horizontalLeft {
    justify-content: flex-start;
  }

  &.horizontalRight {
    justify-content: flex-end;
  }

  &.horizontalCenter {
    justify-content: center;
  }

  &.verticalTop {
    align-items: flex-start;
  }

  &.verticalCenter {
    align-items: center;
  }

  &.verticalBottom {
    align-items: flex-end;
  }
}

