@import "@styles/variables";

.notificationContainer {
  display: flex;
  width: 100%;
  max-width: 327px;
  min-width: 263px;
  background-color: $white;
  box-shadow: 0 4px 24px $shadow100, 0 2px 3px $shadow200;
  padding: 12px;
  align-items: center;

  .content {
    padding: 0 15px 0 10px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;

    &.rightBorder {
      border-right: 1px solid $neutral;
    }
  }

  .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
  }

  .content, .title {
    @include text-ellipsis;
  }
}

