@import "@styles/variables";

.container {
  display: flex;
  justify-content: flex-start;
  text-align: left;

  &.error {
    .message {
      border: 1px solid $red;
    }
  }

  &.messageOwner {
    justify-content: flex-end;
    text-align: right;

    .message {
      background: $white;
    }
  }

  .messageContainer {
    margin-left: 10px;
  }

  .message {
    display: inline-flex;
    flex-direction: column;
    background: $blueGradient;
    border-radius: 6px;
    padding: 12px 16px;
    color: $black;
    line-height: 22px;
    max-width: 510px;
    box-shadow: 0px 1px 2px $shadow100, 0px 4px 12px $shadow300;
  }

  .dateTime {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
  }

  .transparentText {
    opacity: .5;
  }

  .redText {
    color: $red;
  }

  .retryLink {
    color: $red;
    cursor: pointer;
    text-decoration: underline;
  }

  .attachmentContainer {
    margin-top: 10px;
    .attachmentPreview {
      max-height: 290px;
      max-width: 290px;
      margin-right: 0;
    }
  }
}
