@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  padding: 0;
  width: 100%;
  max-width: 600px;
  max-height: 680px;
  background-color: $white;
  overflow-y: hidden;
  border-radius: 5px;

  .arrowIcon {
    position: absolute;
    top: 50%;
    width: 56px;
    height: 56px;
    justify-content: center;

    &.left {
      left: 3%;
    }

    &.right {
      right: 3%;
    }
  }

  .header {
    background-color: $grayLightest;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;

    svg {
      width: 16px;
      fill: $blueGray;
    }

    h4 {
      margin: 0;
      width: 100%;
    }
  }
  .preview {
    overflow: hidden;
    img {
      border-radius: 0;
    }
  }
}

