@import "@styles/variables";

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;

  .loader {
    width: 35px;
    height: 35px;

    svg {
      width: 100%;
    }
  }
}
