@import "@styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  width: 100%;
  height: 60px;
  padding: 12px 24px;
  border-bottom: 1px solid $grayBlueLight;

  h5 {
    font-size: 16px;
    line-height: 22px;
  }
}

