@import "@styles/variables";

.radioContainer {
  .hiddenRadio {
    visibility: hidden;
    width: 1px;
  }

  .styledRadio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: $white;
    transition: all 150ms;
    border: 1px solid $gray;
    border-radius: 50%;
    cursor: pointer;

    &:after {
      content: '';
      background: $blue;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      visibility: hidden;
    }

    &:hover {
      background: $bluePale;
    }

    &.checked {
      &:after {
        visibility: visible;
      }
    }
  }

  .label {
    margin-left: 7px;
  }
}
