@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

  .filesContainer {
    padding: 16px 24px;
  }

  .contentContainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    border-top: 1px solid $grayBlueLight;

    .filePreview {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
