@import "src/styles/variables";

.starringModuleStories {
  height: 386px;
}

.starringModule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  max-width: 395px;
  width: 100%;
  height: 100%;
  background: $white;
  border: 1px solid $gray;
  box-sizing: border-box;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

  .starringModuleHeader {
    display: flex;
    align-items: flex-start;
    padding: 16px 16px 12px;
    width: 100%;
    height: 62px;
    background: $grayLightest;
    border-bottom: 1px solid $neutral;

    .starringModuleInput {
      max-width: 207px;
      width: 100%;
    }

    .starringModuleButton {
      max-width: max-content;
      width: 100%;
      margin-left: 8px;
      position: relative;

      &:last-child {
        margin-left: 8px;

        button {
          margin-left: 0;
        }

        svg {
          margin-left: 0;
        }

        div {
          z-index: 1;

          div:nth-child(2) {
            display: none;
          }
        }
      }
    }

  }

  .starringModuleScrollbar {
    height: 324px;

    .starringModuleScrollbarWrapper {
      padding: 16px 16px 0;
    }

    :last-child {
      right: 8px;
      top: 16px;
    }
  }
}

.starringModuleItem {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $blackLight;
  box-sizing: border-box;
  margin-bottom: 12px;

  &.smallItem {
    max-width: 111px;

    button div {
      max-width: 59px
    }
  }

  &.defaultItem {
    max-width: 160px;
  }

  .starringModuleItemWrapper {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 100%;
    height: 100%;
    background: $white;
    border: 1px solid $blueLightHue;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.03);
    border-radius: 6px;

    div {
      text-align: left;
      font-size: 14px;
      line-height: 18px;
    }

    svg {
      margin-right: 10px;
      width: 100%;
      height: 100%;
      max-width: 16px;

      path {
        fill: $yellow;
      }
    }

    &.withoutFavorite {

      div {
        opacity: 0.5;
      }

      svg path {
        fill: $white;
      }
    }
  }

  .starringModuleItemSender {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 20px;
    padding: 0;
    font-size: 12px;
    line-height: 16px;

    p {
      opacity: 0.5;
    }

    .starringModuleItemSenderIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      background: $grayBlueLight;
      border-radius: 4px;
      margin-left: 4px;
    }
  }
}
