@import "src/styles/variables";
@import "src/styles/fonts";

.buttonContainer {
  position: relative;

  .dropdownContent {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -21px;
    background: $white;
    z-index: 1;
  }

  &.dropdownOpened {

    .dropdownContent {
      display: block;
    }

    .button {

      .buttonDropdown {

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.1s ease-in-out opacity;

    .buttonDropdown {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 8px;
      padding-left: 8px;
    }

    &:hover {
      @include button-hover;
    }

    &:active {
      @include button-active;
    }

    &:disabled {
      @include button-disabled;
    }

    &.fullWidth {
      width: 100%;
    }

    &.buttonSmall {
      font-size: 14px;
      line-height: 18px;
      height: 34px;
      border-radius: 31px;
      padding: 8px 16px;

      &.buttonWithIcon {
        padding: 8px 9px;
      }
    }

    &.buttonDefault {
      font-size: 16px;
      line-height: 22px;
      height: 38px;
      border-radius: 31px;
      padding: 8px 16px;

      &.buttonWithIcon {
        padding: 8px 11px;
      }
    }

    &.buttonLarge {
      font-size: 16px;
      line-height: 22px;
      height: 46px;
      border-radius: 29px;
      padding: 12px 24px;

      &.buttonWithIcon {
        padding: 8px 15px;
      }
    }

    &.buttonIconTitle {

      .buttonTitle {
        margin-left: 8px;
      }
    }

    &.buttonText {

      &.buttonPrimary {
        color: $grayDark;
        background: transparent;

        .buttonDropdown {
          border-left: 1px solid $grayDark;
        }

        svg path {
          fill: $grayDark;
        }
      }

      &.buttonSuccess {
        color: $green;
        background: transparent;

        .buttonDropdown {
          border-left: 1px solid $green;
        }

        svg path {
          fill: $green;
        }
      }

      &.buttonDanger {
        color: $red;
        background: transparent;

        .buttonDropdown {
          border-left: 1px solid $red;
        }

        svg path {
          fill: $red;
        }
      }
    }

    &.buttonContained {

      &.buttonPrimary {
        color: $grayDark;
        background: $grayLightest;

        .buttonDropdown {
          border-left: 1px solid $grayDark;
        }

        svg path {
          fill: $grayDark;
        }
      }

      &.buttonSuccess {
        color: $white;
        background: $green;

        .buttonDropdown {
          border-left: 1px solid $grayLightest;
        }

        svg path {
          fill: $white;
        }
      }

      &.buttonDanger {
        color: $white;
        background: $red;

        .buttonDropdown {
          border-left: 1px solid $grayLightest;
        }

        svg path {
          fill: $white;
        }
      }
    }

    &.buttonOutlined {

      &.buttonPrimary {
        color: $grayDark;
        background: transparent;
        border: 2px solid $grayDark;

        .buttonDropdown {
          border-left: 1px solid $grayDark;
        }

        svg path {
          fill: $grayDark;
        }
      }

      &.buttonSuccess {
        color: $green;
        background: transparent;
        border: 2px solid $green;

        .buttonDropdown {
          border-left: 1px solid $green;
        }

        svg path {
          fill: $green;
        }
      }

      &.buttonDanger {
        color: $red;
        background: transparent;
        border: 2px solid $red;

        .buttonDropdown {
          border-left: 1px solid $red;
        }

        svg path {
          fill: $red;
        }
      }
    }
  }
}
