@import "src/styles/variables";

.menuList {
  width: 100%;
  border: 1px solid $neutral;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 4px 24px $shadow100, 0 2px 3px $shadow200;
  border-radius: 4px;

  .menuItem {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: none;
    outline: none;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    background-color: $white;

    &:hover {
      background-color: $grayLightest;
    }

    &.active {
      background-color: $grayBlueLight;
    }

    .menuIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 1px solid $neutral;
      box-sizing: border-box;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
      border-radius: 29px;
      margin-right: 12px;
    }

    .menuInput>input {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      background: #FFFFFF;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &.menuSmall {
      height: 34px;
      font-size: 14px;
      line-height: 18px;

      &.menuShadow {
        box-shadow: inset 0px -1px 0px $blueGrayLight;
      }
    }

    &.menuDefault {
      height: 38px;

      &.menuShadow {
        box-shadow: inset 0px -1px 0px $blueGrayLight;
      }
    }

    &.menuLarge {
      height: 48px;

      &.menuShadow {
        box-shadow: inset 0px -1px 0px $blueGrayLight;
      }
    }

    &.menuColorPrimary {
      color: $blue;
    }

    &.menuColorDefault {
      color: $black;
    }

    &.menuColorText {
      color: $blueGray;
    }
  }

  &.menuWithoutScroll {
    height: 100%;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0;

    .menuItem {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 4px;
      height: 48px;
      color: $black;
      box-shadow: none !important;
      font-size: 16px;
      line-height: 22px;
    }
  }
}


