@import "@styles/variables";

.container {
  .tagsLabel {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: $blueGray;

    svg {
      max-width: 20px;
      max-height: 20px;
      //margin-right: 5px;
    }
  }

  .tags {
    display: flex;
    border: 1px solid $gray;
    border-radius: 4px;
    position: relative;

    &:focus-within {
      border: 1px solid $grayDark;
    }

    &.smallSize {
      .tagsList {
        padding: 4px 12px 0 12px;

      }

      .tagsInput {
        font-size: 14px;
      }
    }

    &.defaultSize {
      .tagsList {
        padding: 5px 12px 0 12px;
      }

      .tagsInput {
        font-size: 16px;
      }
    }

    &.withIcon {
      padding-left: 28px;

      .tagsIcon {
        position: absolute;
        left: 12px;
        top: 9px;

        svg {
          max-width: 16px;
          max-height: 16px;
        }
      }
    }

    .tagsInput input {
      border: none;

      &:focus {
        border: none;
      };
    }

    .tagsContent {
      width: 100%;

      .tag {
        margin: 0 5px 5px 0;
      }
    }
  }
}

