.tokensPreview {
  padding: 20px;

  >* {
    margin: 20px;
  }

  .avatarsContainer {
    display: flex;
    align-items: flex-end;
    background-color: #E8F1F7;
    padding: 15px;

    > div {
      margin: 0 5px;
    }
  }

  .messagesContainer {
    background-color: #E8F1F7;
    padding: 15px;
  }

  .messageArea {
    max-width: 700px;
  }

  .secureInput {
    max-width: 280px;
  }

  .modalBody {
    padding: 10px 0;
  }
}
