@import "src/styles/variables";

.tabList {
  display: flex;
  height: 47px;
  background: $white;
  padding: 0 12px;
  width: 100%;
}

.tabItem {
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin: 0 12px;
  border: none;
  outline: none;
  background: $white;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  color: $blackGray;

  svg {
    margin-right: 8px;
    path {
      fill: $gray;
    }
  }

  &.tabItemActive, &:hover {
    box-shadow: inset 0px -1px 0px $blue;
    color: $blue;

    svg path {
      fill: $blue;
    }
  }
}
