@import "src/styles/variables";

@mixin block ($radius, $border) {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: $white;
  box-sizing: border-box;
  border: $border;
  border-radius: $radius;
  width: 34px;
  height: 34px;

  &:hover {
    @include button-hover;
  }

  &:active {
    background-color: $grayBlueLight;

    svg path {
      fill: $blue;
    }
  }
}

.countContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: max-content;

  .countBlockLeft {
    cursor: pointer;
    @include block(5px 0px 0px 5px, 1px solid $gray);
  }

  .countBlockRight{
    cursor: pointer;
    @include block(0px 5px 5px 0px, 1px solid $gray);
  }

  .countBlockCenter {
    @include block(0, none);
    box-shadow: inset 0px 1px 0px #C0D3E5, inset 0px -1px 0px #C0D3E5;
    padding: 8px 12.7px;
  }
}
