@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;

  .detailsItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    margin-bottom: 16px;
    max-width: 159px;

    .detailsItemHeader {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      color: $blueGray;
      margin-bottom: 4px;

      svg {
        margin-right: 5px;

        path {
          fill: $grayDark;
        }
      }
    }

    .detailsItemLocation {
      margin-top: 4px;
      font-family: 'AtkinsonHyperlegibleBold', sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: underline;
      color: $blue;
    }
  }
}
