@import "src/styles/variables";

.container {
  height: 100%;
  justify-content: space-between;

  .content,
  .controls {
    padding: 12px 24px;
  }

  .content {
    height: calc(100% - 120px);
    overflow-y: auto;
  }

  .header,
  .controls {
    height: 60px;
    align-items: center;
    border-top: 1px solid $grayBlueLight;
    border-bottom: 1px solid $grayBlueLight;
    padding: 0 24px;

    button {
      margin-left: 12px;
    }
  }

  .filed {
    margin-bottom: 15px;
  }

  .controls {
    display: flex;
    justify-content: flex-end;
  }
}

