@import "@styles/variables";

.container {
  display: flex;

  .controlsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    margin-right: 2px;
    border-radius: 5px;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover,
    &.active {
      background-color: $grayBlueLight;

      svg path {
        fill: $blue;
      }
    }
  }

  .detailsContainer {
    width: 310px;
    height: 298px;
    overflow-y: auto;
    padding: 12px;
    background-color: $white;
    border: 1px solid #DBE6F0;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05), 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .detailsTag {
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .detailsTitle {
    margin: 5px 0 10px;
  }
}
