@import "@styles/variables";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .messagesContainer {
    height: 100%;
    padding: 16px;
    overflow-y: auto;
  }

  .noMessagesTitle {
    text-align: center;
    height: 100%;
  }

  .messageAreaContainer {
    padding: 0 16px 16px;
  }
}
