@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 76px;
  background-color: $grayBlueLight;
  box-shadow: inset -1px 0px 0px $blueGrayLight;
  font-family: 'AtkinsonHyperlegibleBold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: $grayDark;

  .logo {
    height: 60px;
  }

  .navItem,
  .logo {
    padding: 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navIcon {
    position: relative;
  }

  .navItem {
    color: $grayDark;

    svg path {
      fill: $grayDark;
    }

    &:hover {
      background-color: rgba($grayDark, .1);
    }

    &.active {
      color: $white;
      background-color: $blue;

      svg path {
        fill: $white;
      }
    }

    .navBadge {
      position: absolute;
      top: -4px;
      right: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      color: $white;
      background-color: $redLight;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      border-radius: 50%;
    }
  }
}
