@import "src/styles/variables";

.uploadFile {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: max-content;

  input {
    display: none;
  }

  .uploadFileIcon {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: $grayBlueLight;
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 12px;
    border-radius: 4px;

    &.auto {
      width: 100%;
      height: auto;
    }

    &.large {
      width: 80px;
      height: 80px;

      .removeButton {
        right: -10px;
        top: - 10px;
        width: 28px;
        height: 28px;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    &.default {
      width: 64px;
      height: 64px;

      .removeButton {
        right: -8px;
        top: - 8px;
        width: 20px;
        height: 20px;

        svg {
          width: 10px;
          height: 10px;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .removeButton {
    position: absolute;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: $grayBlueLight;
  }

  .uploadFileContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    span, p {
      font-size: 14px;
      line-height: 18px;
    }

    span {
      color: $blueGray;
    }

    p {
      color: $black;
    }
  }
}
