@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
  url("../fonts/Rubik.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("RubikBold"),
  url("../fonts/RubikBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AtkinsonHyperlegibleRegular";
  src: local("AtkinsonHyperlegibleRegular"),
  url("../fonts/AtkinsonHyperlegible.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AtkinsonHyperlegibleBold";
  src: local("AtkinsonHyperlegibleBold"),
  url("../fonts/AtkinsonHyperlegibleBold.ttf") format("truetype");
  font-weight: bold;
}
