$white: #FFFFFF;
$whiteLight: #CBDFE9;
$grayLightest: #F6F9FA;
$grayBlueLight: #E8F1F7;
$gray: #C0D3E5;
$grayDark: #7B93AB;
$green: #4BCD5F;
$red: #F4431C;
$redLight: #F46210;
$blackLight: #202B36;
$black: #000000;
$blackGray: #2C2932;
$blue: #3597F1;
$blueGray: #758D98;
$blueGrayLight: #c7d8e8;
$blueAlice: #F7FAFB;
$blueLight: #3597F1;
$bluePale: #EBF5FE;
$blueNeutral: #93ACC4;
$blueLightHue: #CBDFE9;
$blueMagenta: #2C2932;
$neutral: #DBE6F0;
$yellow: #FFC700;
$mercury: #E5E5E5;

$shadow100: rgba(0, 0, 0, 0.05);
$shadow200: rgba(0, 0, 0, 0.1);
$shadow300: rgba(0, 0, 0, 0.03);
$blueGradient: linear-gradient(0deg, #D1E6FA, #D1E6FA), #D3E7FA;

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin button-disabled {
  pointer-events: none;
  opacity: .5;
}

@mixin button-hover {
  opacity: .8;
}

@mixin button-active {
  transform: translateY(1px);
}
