@import "src/styles/variables";

.invitedUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 100%;
  max-width: 530px;
  box-sizing: border-box;
  background: $white;
  box-shadow: inset 0px -1px 0px $blueGrayLight;

  .invitedUserContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .invitedUserContentLeft {
      display: flex;
      align-items: center;

      .invitedUserAvatar {
        background-color: $grayLightest;
      }

      .invitedUserTitle {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $black;

        h5 {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  .invitedUserWithNote {
    width: 100%;
    padding: 8px 12px;
    background: $grayLightest;
    border: none;
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $blackLight;

    svg {
      margin-right: 8px;
    }
  }
}
