@import "@styles/variables";

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $blueGrayLight;

  h1 {
    margin-bottom: 25px;
    margin-top: 200px;
    color: $blackLight;
  }
  .menu {
    display: flex;
    background-color: $grayBlueLight;
    padding: 20px;
    border-radius: 4px;

    a {
      color: $blackLight;
      font-size: 18px;
      margin: 10px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
