@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 240px;

  .header {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 22px;
    border-top: 1px solid $grayBlueLight;
    border-bottom: 1px solid $grayBlueLight;

    svg {
      margin-right: 10px;
      path {
        fill: $blue;
      }
    }
  }

  .note {
    resize: none;
    border: none;
    outline: none;
    padding: 16px;
    font-size: 16px;
    background-color: #FFFCF5;
    width: 100%;
    height: 100%;
  }

  ::placeholder {
    color: rgba($blackLight, .5);
  }
}
