@import "@styles/variables";

.container {

  h3 {
    font-weight: normal;
    margin-bottom: 16px;
  }

  height: 100%;
  background-color: $grayLightest;

  .formContainer {
    display: flex;
    width: 100%;
    max-width: 624px;
    padding: 24px;
    margin: 24px auto;
    border: 1px solid $neutral;
    border-radius: 6px;
    background-color: $white;
    box-shadow: 0 3px 16px $shadow100, 0 1px 2px $shadow200;
  }

  .navigation {
    flex: 1 0 auto;
    padding-right: 24px;
    border-right: 1px solid $neutral;
  }

  .form {
    width: 100%;
    padding-left: 24px;
  }
}
