@import "src/styles/variables";

.container {
  display: flex;
  align-items: baseline;
  padding: 12px 16px;
  width: 100%;
  max-width: 298px;
  background-color: $white;
  color: $blackLight;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: $neutral;
  }

  &.active {
    background-color: $neutral;
  }

  &.unviewed {
    .status {
      visibility: visible;
    }
    .title {
      font-weight: bold;
    }
  }

  .status {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 8px;
    flex-shrink: 0;
    visibility: hidden;
    background-color: $blue;
  }

  .messageContainer {
    width: 100%;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 22px;

    .title {
      @include text-ellipsis;
      max-width: 155px;
    }

    .dateTime {
      font-size: 12px;
      line-height: 16px;
      opacity: 0.65;
      max-width: 90px;
    }
  }

  .message {
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
    opacity: 0.5;
    @include text-ellipsis;
    max-width: 155px;
  }

  .scheduledContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    opacity: 0.5;
    margin-top: 5px;

    p {
      margin-left: 4px;
    }
  }
}
