@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blueLightHue;
  width: 100%;
  height: 100%;
}
