@import "src/styles/variables";
@import "src/styles/fonts";

.modalMain {
  width: 100%;
  height: max-content;
  background: $white;
  border-radius: 8px;
  padding: 24px;

  .controls {
    padding-top: 24px;
    justify-content: end;
    gap: 10px;
  }
}

.backdropmodal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba($blackLight, .5);
  align-items: center;
  justify-content: center;
}

