@import "src/styles/variables";

.propertyPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  background: $white;
  font-size: 16px;
  line-height: 22px;
  color: $blueMagenta;

  .propertyPanelLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 260px;

    p {
      font-size: 14px;
      line-height: 18px;
      color: $black;
      width: max-content;
      opacity: 0.5;
    }
  }

  .propertyPanelRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .infoWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
      height: 38px;
      background: $grayLightest;
      border-radius: 5px;
      margin-right: 12px;

      * {
        font-size: 14px;
        line-height: 18px;
      }

      svg {
        margin-right: 8px;
      }
    }

    .timeCall {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 8px;
      height: 30px;
      background: $white;
      border-radius: 24px;
      margin-right: 4px;
      color: $grayDark;

      svg {
        margin-left: 8px;
      }
    }

    .search {
      margin-left: 12px;
    }

    .follower {
      display: flex;
      align-items: center;
      margin-left: 12px;
      padding-right: 20px;
      border-right: 1px solid $neutral;
      height: 38px;

      * {
        font-size: 16px;
        line-height: 22px;
      }

      h5{
        margin-right: 4px;
      }
    }

    .buttonCallWrapper {
      border-right: 1px solid $neutral;
      padding-right: 12px;
      margin-right: 12px;
    }

    &.propertyPanelRightSearch {

      .infoWrapper,
      .timeCall,
      .follower,
      .buttonCallWrapper {
        display: none;
      }

      .searchOpened {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        p {
          font-size: 14px;
          line-height: 18px;
        }

        button {
          margin-left: 4px;

          &.buttonRotate {
            transform: rotate(180deg);
          }
        }

        .searchField {
          width: 100%;
          margin-left: 16px;
          margin-right: 12px;
          max-width: 390px;
        }
      }
    }
  }
}
