@import "@styles/variables";

.container {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;

  svg path {
    fill: $gray;
  }

  .text {
    margin-left: 4px;
  }
}
