@import "@styles/variables";

.container {
  .header {
    padding: 0;
  }

  .noChatScreen {
    position: relative;
    background-color: $blueAlice;

    p {
      margin-top: 30px;
      line-height: 22px;
      max-width: 340px;
      text-align: center;
      color: rgba($blackLight, .7)
    }

    .noChatIcon {
      svg {
        width: 64px;
        height: 64px;

        path {
          fill: $blue;
        }
      }
    }
  }

  .channelsHeader, .channelsHeader {
    border-bottom: 1px solid $grayBlueLight;
  }

  .content {
    //height: calc(100% - 60px);
    overflow-y: hidden;
    background-color: $grayLightest;
  }

  .channelsBar {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
  }

  .leftSidebar {
    border-right: 1px solid $grayBlueLight;
  }

  .rightSidebar {
    border-left: 1px solid $grayBlueLight;
    background-color: $white;
  }

  .channelsList {
    height: 100%;
    overflow-y: auto;
  }

  .filePreview {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

