@import "@styles/variables";

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: $blackLight;
    svg {
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;

      path {
        fill: $grayDark;
      }
    }
  }

  .fieldContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
  }

  .iconLeft, .iconLeft {
    position: absolute;
    display: flex;

    svg {
      max-width: 16px;
      max-height: 16px;
    }
  }

  .iconLeft {
    left: 12px;
  }

  .iconRight {
    right: 12px;
  }

  .errorMessage {
    margin-top: 5px;
    color: #F4431C
  }

  .errorIcon {
    svg {
      max-width: 20px;
      max-height: 20px;

      path {
        fill: #F4431C;
      }
    }
  }

  input, textarea {
    outline: none;
    border-radius: 4px;
    border: 1px solid $gray;
    width: 100%;

    &:focus {
      border: 1px solid $grayDark;
    }
  }

  .errorState {
    input, textarea {
      border: 1px solid $red;
    }
  }

  .successState {
    input, textarea {
      border: 1px solid $green;
    }
  }

  .smallSize {
    input, textarea {
      font-size: 14px;
      padding: 8px 12px;
    }
  }

  .defaultSize {
    input, textarea {
      font-size: 16px;
      padding: 9px 12px;
    }
  }

  .leftSpace {
    input, textarea {
      padding-left: 34px;
    }
  }

  .rightSpace {
    input, textarea {
      padding-right: 34px;
    }
  }

  &.fullWidth {
    display: flex;
    width: 100%;

    input, textarea, .fieldContainer {
      width: 100%;
    }
  }

  ::placeholder {
    color: rgba($blackLight, .5);
  }
}
