@import "@styles/variables";

.checkboxContainer {
  .hiddenCheckbox {
    visibility: hidden;
    width: 1px;
  }

  .styledCheckbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: $white;
    border-radius: 4px;
    transition: all 150ms;
    border: 1px solid $gray;
    cursor: pointer;

    &:hover {
      background: $bluePale;
    }

    svg {
      visibility: hidden;
      width: 12px;
      height: 12px;
      path {
        fill: $white;
      }
    }

    &.checked {
      border: none;
      background: $blue;
      svg {
        visibility: visible;
      }
    }
  }

  .label {
    margin-left: 7px;
  }
}
