@import "@styles/variables";

.container {

  .inputContainer {
    align-items: center;
    justify-content: space-between;
  }

  .control {
    align-self: flex-start;
    margin-left: 12px;
  }

  .placeholder {
    @include text-ellipsis;
    color: rgba($blackLight, .7);
  }

  .label {
    font-size: 14px;
    margin-bottom: 3px;
    color: $blackLight;
  }

  .hidden {
    display: none;
  }
}
