@import "@styles/variables";

.container {
  .messageAreaContainer {
    border: 1px solid $gray;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    &:focus-within {
      border: 1px solid $grayDark;
    }

    .messageArea {
      box-sizing: border-box;
      padding: 16px;
      position: relative;
      background-color: $white;
      border-radius: 6px;

      .textField {
        width: 100%;
        font-size: 16px;
        height: 58px;
        font-weight: 500;

        border: none;
        resize: none;
        outline: none;
      }

      .downBarContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

      }

      .sendOptionsTitle {
        font-size: 14px;
      }

      .filesContainer {
        display: flex;
        margin: 15px 0;

        .filePreview {
          margin-right: 9px;
        }
      }

      .sendOptionsDropdown {
        min-width: 250px;
      }
    }
  }

  .label {
    margin-bottom: 5px;
  }

  .info {
    padding: 8px 12px;
    color: rgba($blackLight, .5);
    width: 100%;
    border-top: 1px solid $gray;
    background-color: $grayLightest;
    border-radius: 0 0 6px 6px;

    a {
      color: rgba($blackLight, .5);
    }
  }
}
