@import "@styles/variables";

.container {
  .messageArea {
    margin-top: 24px;
  }

  .actionControls {
    margin-top: 24px;
  }

  .label {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: $blackLight;
    justify-content: space-between;
  }

  .advanced {
    margin-top: 24px;


    &Option {
      margin-top: 12px;
    }
  }
}

