@import "src/styles/variables";

.container {
  background-color: $grayLightest;

  .search {
    width: 100%;
    max-width: 247px;
  }

  table {
    height: 100%;
    width: 100%;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-left: 1px solid $grayBlueLight;
  }

  .details {
    height: calc(100% - 300px);
    overflow-y: auto;
  }

  .channelHeader {
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid $grayBlueLight;

    > div {
      display: flex;
    }

    button {
      margin-left: 10px;
    }
  }
}
