@import "src/styles/variables";

.buttonContainer {
  position: relative;

  &.fullWidth {
    width: 100%;
    .button {
      width: 100%;
      justify-content: space-between;
    }
  }

  .label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: $blueGray;
    svg {
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;

      path {
        fill: $grayDark;
      }
    }
  }

  .dropdownContent {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 40px;
    background: $white;
  }

  &.dropdownOpened {

    .dropdownContent {
      display: block;
    }

    .button {

      .buttonDropdown {

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: $white;
    border: 1px solid $gray;
    color: $blackLight;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    .buttonDropdown {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 12.2px;

      svg {

        path {
          fill: $grayDark;
        }
      }
    }

    &.buttonSmall {
      font-size: 14px;
      line-height: 18px;
      height: 34px;
    }

    &.buttonDefault {
      font-size: 16px;
      line-height: 22px;
      height: 38px;
    }
  }

  .buttonTitle {
    color: $blackLight;
  }

  .buttonPlaceholder {
    color: rgba($blackLight, .5);
  }
}
