@import "src/styles/variables";
@import "src/styles/fonts";

.buttonAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: normal;
  color: $blackLight;
  background-color: $white;
  border: 1px solid #C0D3E5;
  transition: 0.1s ease-in-out opacity;

  svg path {
    fill: $grayDark;
  }

  &:hover {
    @include button-hover;
  }

  &:active {
    @include button-active;
    background-color: $grayBlueLight;
    border: 1px solid $grayBlueLight;

    svg path {
      fill: $blue !important;
    }
  }

  &:disabled {
    @include button-disabled;
  }

  &.buttonSmall {
    font-size: 14px;
    line-height: 18px;
    height: 34px;
    padding: 8px 12px;

    &.buttonWithoutText {
      padding: 8px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.buttonDefault {
    font-size: 16px;
    line-height: 22px;
    height: 38px;
    padding: 4px 12px;

    &.buttonWithoutText {
      padding: 8px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.buttonIconTitle {

    .buttonTitle {
      margin-left: 8px;
    }
  }

  &.buttonColorText {
      background: transparent;
      border: none;

      svg path {
        fill: $grayDark;
      }
    }

  &.buttonRightIcon {
    flex-direction: row-reverse;

    svg {
      margin-left: 8px;
    }
  }

  &.buttonLeftIcon {

    svg {
      margin-right: 8px;
    }
  }

  &.buttonWithoutText {

    svg {
      margin: 0;
    }
  }
}
