@import "@styles/variables";

.channelsListContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F7FAFB;
}

.channelsHeader {
  display: flex;

  > button {
    margin-left: 8px;
  }
}

.noFound {
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
}

.channelContainer {
  padding: 12px 16px;

  .channel {
    margin-bottom: 10px;
  }
}
