@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  width: 100%;
  border-radius: 6px;
  overflow-y: hidden;
  border: 1px solid $neutral;
}

.table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-spacing: 0;

  tr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid $neutral;

    td, th {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 8px 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }

    .tag {
      margin-right: 10px;
    }
  }

  tbody {
    max-height: calc(100vh - 200px); // Should be updated. This will lead to defects.
    overflow-y: auto;
    display: block;

    .emptyRow {
      padding: 8px 16px;

      svg {
        width: 33px;
      }
    }

    tr {
      &:hover {
        background: $grayBlueLight;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  thead {
    position: sticky;
    top: 0;

    tr {
      background: $grayLightest;
      border-bottom: 1px solid $neutral;
    }

    th {
      color: $blueGray;
      font-size: 14px;
      line-height: 18px;
    }
  }

  tr {
    background: $white;
    color: $black;
  }
}
