@import "src/styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  max-width: 286px;
  height: 60px;
  background-color: $white;

  .controls {
    display: flex;
    button {
      margin-left: 10px;
    }
  }

  strong {
    font-weight: 600;
    color: $grayDark;
  }

  .username {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  .telephone {
    font-size: 12px;
    font-weight: 400;
    color: $grayDark;
  }
}


.massMessagesModal {
  max-width: 530px;

  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 24px;
  }
}
