@import "src/styles/variables";
@import "src/styles/fonts";

.leftPanelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 288px;
  width: 100%;
  background: $white;

  .leftPanelHeader {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;

    .leftPanelDropdown button {
      font-size: 14px;
      line-height: 18px;
      height: 34px;
      padding: 8px 12px;
    }

    .leftPanelFilter {
      margin-left: 7px;
    }

    .leftPanelSelect {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      position: relative;
      width: 215px;
      height: 34px;
      border: 1px solid $gray;
      box-sizing: border-box;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      margin: 0;

      svg path {
        fill: $blueNeutral;
      }
    }
  }

  .filterInputContainer {
    width: 100%;
    border-top: 1px solid $neutral;
    padding: 4px;

    .filterInput {
      border: none;

      &:focus {
        border: none;
      }
    }
  }

  .filterTabs {
    border-top: 1px solid $neutral;
  }
}
