@import "@styles/variables";

.avatarContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $neutral;
  box-shadow: 0 1px 1px $shadow100;
  width: 40px;
  height: 40px;
  font-weight: bold;
  background-color: $white;
  color: $blackLight;
  font-size: 14px;
  cursor: default;

  svg {
    max-width: 16px;
    max-height: 16px;
  }

  &.small {
    width: 32px;
    height: 32px;
  }

  &.large {
    width: 48px;
    height: 48px;
  }
}
