@import "src/styles/variables";
@import "src/styles/fonts";

.container {
  width: 100%;
  max-width: 382px;
  background-color: $white;
  padding: 24px 44px;
  border-radius: 12px;

  @media (max-width: 425px) {
    padding: 24px;
  }

  .titleWrap {
    margin-bottom: 48px;

    h3 {
      margin-bottom: 48px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    h5 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    p {
      color: $grayDark;
      font-size: 14px;
    }
  }

  .filed {
    margin-bottom: 12px;
  }

  .signUp {
    margin-top: 24px;
    p {
      margin-bottom: 48px;
      a {
        color: $blueLight;
        font-weight: bold;
        margin-left: 4px;
      }
    }
    & > a {
      color: $grayDark;
    }
  }

}
