@import "@styles/variables";

.container {
  &Content {
    display: flex;
    color: $black;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: $grayLightest;
    border: 1px solid $gray;

    .textContainer {
      margin: 0 15px;
    }

    .dateTime {
      font-size: 12px;
      line-height: 16px;
      opacity: .5;
    }

    button {
      cursor: pointer;
      border: none;
      background: none;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .text,
  .openMore {
    font-size: 14px;
    line-height: 18px;
  }

  .openMore {
    cursor: pointer;
    margin-top: 8px;
    text-decoration: underline;
  }
}
